/* LOADING */

#loading {
	width: 100%;
	min-height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#loading #main {
	width: fit-content;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@keyframes logoLoader {
	from {
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}
	50% {
		box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.125);
	}
	to {
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	}
}

#loading #logo {
	width: 120px;

	position: relative;

	border-radius: 50%;
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.125);

	animation: 2s infinite ease-in-out;
	animation-name: logoLoader;
}

#loading #text {
	margin-top: 25px;

	color: #33cc99;
	font-size: 24px;
	font-weight: 900;
}
